@model Project_63133174.Models.Login_63133174
@{
    Layout = null;
    <link rel="stylesheet" href="~/Content/Account/Login.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
}
    
<div style="background-image: url(../Images/login.jpg); height: 100%;">
    @using (Html.BeginForm("Login", "Account_63133174", FormMethod.Post))
    {

        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-2"></div>
                <div class="col-lg-6 col-md-8 login-box" style="background-image: url(/Images/login2.jpg); min-height:100%;">
                    <div class="col-lg-12 login-key">
                        <i class="fa fa-key" aria-hidden="true"></i>
                    </div>
                    <div class="col-lg-12 login-title" style="margin-top:1px;">
                        <p style="font-size: 30px; color: #a7ff48;">Đăng nhập</p>
                    </div>

                    <div class="col-lg-12 login-form">
                        <div class="col-lg-12 login-form">
                            <form>
                                <div class="form-group">
                                    <label class="form-control-label">@Html.LabelFor(model => model.Email, "Email:", htmlAttributes: new { @class = "control-label" })</label>
                                    @Html.TextBoxFor(model => model.Email, new { @class = "login__input" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                                </div>
                                <div class="form-group">
                                    <label class="form-control-label"> @Html.LabelFor(model => model.MatKhau, "Mật khẩu:", htmlAttributes: new { @class = "control-label" })</label>
                                    @Html.PasswordFor(model => model.MatKhau, new { @class = "login__input" })
                                    <br />
                                    @Html.ValidationMessageFor(model => model.MatKhau, "", new { @class = "text-danger" })
                                </div>

                                <div class="col-lg-12 loginbttm">
                                    <div class="col-lg-6 login-btm login-text">
                                        <!-- Error Message -->
                                    </div>
                                    <div>
                                        <div class="col-lg-12 login-btm login-button">
                                            <button type="submit" class="btn btn-outline " style="color: #ECF0F5; width:430px;">ĐĂNG NHẬP</button>
                                        </div>

                                        <div class="col-lg-12 login-btm login-button">
                                            <a href="@Url.Action("Register", "Account_63133174")">
                                                <button type="button" class="btn btn-outline" style="color: #ECF0F5; width: 430px;">ĐĂNG KÍ</button>
                                            </a>
                                            
                                        </div>
                                    </div>

                                </div>

                            </form>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-2"></div>
                </div>
            </div>
        </div>
    }
</div>