@model IEnumerable<Project_63133174.Models.NHANVIEN>

@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
    int i = 0;
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Web bán Sen Đá</title>
    <link rel="stylesheet" href="~/Content/TrangChu.css">
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="proj1.css">
}

<style>
    .text-right {
        text-align: center;
        font-size: 30px;
    }
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        padding: 8px; /* Điều chỉnh padding tùy theo nhu cầu */
        text-align: left; /* Căn lề nội dung trong thẻ */
        border: 1px solid #ddd; /* Đường viền cho thẻ */
    }

    th {
        background-color: #f2f2f2; /* Màu nền cho các thẻ tiêu đề */
        font-weight: bold; /* In đậm chữ trong thẻ tiêu đề */
    }
</style>

<!--Tìm kiếm-->
<div>
    @using (Html.BeginForm("Index", "NHANVIENs63133174", FormMethod.Get))
    {
        @Html.AntiForgeryToken()

        <div style="display: flex; align-items: center; justify-content: center; font-size: 20px">
            <div>
                <div style="display: flex; padding-bottom: 5px">
                    Mã nhân viên:
                    <div style="padding-right: 35px"></div>
                    <input type="text" name="maNV" value="@ViewBag.maNV" style="flex: 1; margin-left: 5px; border: 2px solid black " />
                </div>
                <div style="display: flex; padding-bottom: 5px">
                    Họ tên nhân viên:
                    <div style="padding-right: 5px"></div>
                    <input type="text" name="hoTen" value="@ViewBag.hoTen" style="flex: 1; margin-left: 5px; border: 2px solid black " />
                </div>
                <div style="display: flex; padding-bottom: 5px">
                    Email:
                    <div style="padding-right: 105px"></div>
                    <input type="text" name="email" value="@ViewBag.Email" style="flex: 1; margin-left: 5px; border: 2px solid black " />
                </div>
                <div>
                    <input type="submit" name="submit" value="Tìm kiếm" style="margin-left: 5px; width: 100px; background-color: blue; color: white; border: 1px solid black; cursor: pointer" />
                    <input type="button" name="Nhapmoi" value="Nhập mới" style="margin-left: 5px; width: 100px; background-color: blue; color: white; border: 1px solid black; cursor: pointer" onclick="location.href='@Url.Action("Index", "NHANVIENs63133174/Index")'" />
                    <input type="button" value="Thêm mới" onclick="location.href='@Url.Action("Create", "NHANVIENs63133174")'" style="margin-left: 5px; width: 100px; background-color: blue; color: white; border: 1px solid black; cursor: pointer" />
                </div>
            </div>
        </div>
    }
</div>

<table class="table" style="width:100%; font-size:20px;">
    <tr>
        <th>
            STT
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaNV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoTen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MatKhau)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quyen)
        </th>
        <th>
            Chức năng
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @{i++;}
                @i
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaNV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MatKhau)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quyen)
            </td>
            <td>

                @Html.ActionLink("Xem chi tiết", "Details", new { id = item.MaNV }) |
                @Html.ActionLink("Sửa", "Edit", new { id = item.MaNV }) |
                @Html.ActionLink("Xóa", "Delete", new { id = item.MaNV })
        </tr>
    }

</table>
<p class="text-right">
    @Html.ActionLink("THÊM MỚI", "Create", null, new { @class = "btn btn-primary" })
</p>
